### Hospital Data Aggregation
###### Chian-Heng Lee
Oct. 10th, 2018

The purpose of this notebook is to load the raw hospital data and aggregate the data into a python dictionary with each (key, value) pair corresponds to a specific bundle_id and a pandas dataframe with all rows of that bundle_id from the original table. Note that in the process, the measurement, enrol and indicator values are recalculated by combining data from different years (with the same bundle_id, sex and age_ihmec).

To run this script, simply replace the input filename (first section) and the output file name (pickle section).

In [1]:
import pandas as pd
import numpy as np

# set display width to 100 so the whole width can be displayed.
pd.set_option('display.width', 100)

# load data
df = pd.read_stata('oip105_p.dta')

df.head()

   year sex age_ihmec facility    unit  measurement      enrol     indicator  bundle_id
0  1979   1       029        2  person            1   879740.0  1.136699e-06        152
1  1983   1       039        2  person            1  1021572.0  9.788835e-07        152
2  1983   1       039        2  person            1  1021572.0  9.788835e-07        231
3  1983   1       039        2  person            1  1021572.0  9.788835e-07        242
4  1985   2       034        2  person            1   977286.0  1.023242e-06        152

In [2]:
# sort the dataframe based on bundle ID, followed by sex and age
df_sorted=df.sort_values(by=['bundle_id','sex','age_ihmec'])
df_sorted.head()

       year sex age_ihmec facility    unit  measurement          enrol  indicator  bundle_id
11400  2016   1       000        2  person           15  100937.504824   0.000149          1
6972   2015   1       004        2  person            2  438434.495176   0.000005          1
11401  2016   1       004        2  person           55  438434.495176   0.000125          1
950    2006   1       009        2  person            1  495936.000000   0.000002          1
6973   2015   1       009        2  person            2  495936.000000   0.000004          1

In [3]:
# Get a sense of some information

# Get unique bundle IDs
unique_bundleIDs = df_sorted.bundle_id.unique()
print(unique_bundleIDs)

print('A total of '+str(len(unique_bundleIDs))+' bundle IDs are in this dataset.')
print('')

# Get unique age groups
unique_age_groups = df_sorted.age_ihmec.unique()
print(unique_age_groups)
print('A total of '+str(len(unique_age_groups))+' age groups are present in this dataset.')

[   1   27   50   61   64   78   80   82   92   93   94   95   99  104  113
  115  119  122  125  126  127  128  129  130  131  140  141  142  145  146
  147  148  149  150  151  152  153  155  156  157  158  159  160  161  162
  163  164  165  166  167  168  173  174  175  176  182  198  199  201  202
  203  204  206  207  208  209  211  212  213  214  215  216  217  218  219
  220  231  232  236  237  238  239  240  241  242  243  245  246  248  250
  255  257  258  261  262  263  277  283  291  292  293  338  345  354  355
  374  396  409  429  435  436  437  438  439  440  449  456  458  500  502
  542  543  544  545  546  547  548  602  604  606  608  610  612  614  616
  618  620  622  624  626  628  630  632  634  636  638  686  687  899 1010
 2972 2975 2978 2987 2990 2993 3008 3011 3029 3039 3053 3059 3065 3081 3082
 3086 3119 3131 3134 3137 3140 3188 3198 3202 3227 3260]
A total of 176 bundle IDs are in this dataset.

['000' '004' '009' '014' '019' '024' '029' '034' '039' '044' '049' '054'
 '059' '064' '069' '074' '079' '084' '089' '094' '095']
A total of 21 age groups are present in this dataset.

### Main loop to aggregate data and calculate desired values (indicators)

In [4]:
## Get essential informations (unique values in each column) for the loop

# Bundle IDs
unique_bundleIDs = df_sorted.bundle_id.unique()

# genders
sex = df_sorted.sex.unique() # 1:male, 2:female

# age groups
age_groups = df_sorted.age_ihmec.unique()
#all_age_groups = ['000','004','009','014','019','024','029','034','039','044','049','054','059','064','069','074','079','084','089','094','095']


## Now we want to look into the raw dataframe and put the data into different (smaller) dataframes 
## with each corresponds to a bundle_id. 
## The new dataframes will be put in a dictionary

dict_of_bundleID_dataframes = {} # create empty dictionary

# loop
for ID in unique_bundleIDs:
    i=0
    #j=0
    dummy_list=[] # use this to get new calculated and aggregated data (a list of lists) to later put into a dataframe
    for s in sex:
        for age in age_groups:
            try:
                
                temp_df = df_sorted.loc[(df_sorted["bundle_id"]==ID) & (df_sorted["sex"] == s) & (df_sorted["age_ihmec"]==age)]
                temp_meas_sum = temp_df['measurement'].sum()
                temp_enrol = list(temp_df['enrol'])[0]
                temp_indicator = temp_meas_sum/temp_enrol
                i=i+1
                
                dummy_list.append([ID,s,age,temp_meas_sum,temp_enrol_sum,temp_indicator])
            except:
                pass
                #j=j+1
    
    dict_of_bundleID_dataframes[ID] = pd.DataFrame(
                                        data=dummy_list,
                                        columns=['bundle_id', 'sex', 'age_group', 'measurement', 'enrol','indicator'])
    print('ID '+str(ID)+' has '+str(i)+' rows.')
    #print('j='+str(j))

print('Done.')

ID 1 has 42 rows.
ID 27 has 42 rows.
ID 50 has 42 rows.
ID 61 has 7 rows.
ID 64 has 42 rows.
ID 78 has 18 rows.
ID 80 has 9 rows.
ID 82 has 20 rows.
ID 92 has 21 rows.
ID 93 has 42 rows.
ID 94 has 35 rows.
ID 95 has 37 rows.
ID 99 has 42 rows.
ID 104 has 32 rows.
ID 113 has 42 rows.
ID 115 has 41 rows.
ID 119 has 42 rows.
ID 122 has 42 rows.
ID 125 has 23 rows.
ID 126 has 28 rows.
ID 127 has 36 rows.
ID 128 has 36 rows.
ID 129 has 42 rows.
ID 130 has 42 rows.
ID 131 has 42 rows.
ID 140 has 42 rows.
ID 141 has 42 rows.
ID 142 has 42 rows.
ID 145 has 42 rows.
ID 146 has 42 rows.
ID 147 has 38 rows.
ID 148 has 37 rows.
ID 149 has 41 rows.
ID 150 has 42 rows.
ID 151 has 41 rows.
ID 152 has 36 rows.
ID 153 has 39 rows.
ID 155 has 39 rows.
ID 156 has 20 rows.
ID 157 has 36 rows.
ID 158 has 20 rows.
ID 159 has 38 rows.
ID 160 has 40 rows.
ID 161 has 38 rows.
ID 162 has 42 rows.
ID 163 has 40 rows.
ID 164 has 33 rows.
ID 165 has 40 rows.
ID 166 has 37 rows.
ID 167 has 38 rows.
ID 168 has 42 rows.
ID 173 has 42 rows.
ID 174 has 39 rows.
ID 175 has 39 rows.
ID 176 has 42 rows.
ID 182 has 42 rows.
ID 198 has 17 rows.
ID 199 has 20 rows.
ID 201 has 16 rows.
ID 202 has 17 rows.
ID 203 has 18 rows.
ID 204 has 16 rows.
ID 206 has 40 rows.
ID 207 has 22 rows.
ID 208 has 23 rows.
ID 209 has 38 rows.
ID 211 has 9 rows.
ID 212 has 41 rows.
ID 213 has 42 rows.
ID 214 has 41 rows.
ID 215 has 42 rows.
ID 216 has 42 rows.
ID 217 has 42 rows.
ID 218 has 42 rows.
ID 219 has 41 rows.
ID 220 has 42 rows.
ID 231 has 42 rows.
ID 232 has 42 rows.
ID 236 has 42 rows.
ID 237 has 42 rows.
ID 238 has 42 rows.
ID 239 has 40 rows.
ID 240 has 42 rows.
ID 241 has 41 rows.
ID 242 has 42 rows.
ID 243 has 42 rows.
ID 245 has 42 rows.
ID 246 has 42 rows.
ID 248 has 42 rows.
ID 250 has 42 rows.
ID 255 has 42 rows.
ID 257 has 42 rows.
ID 258 has 42 rows.
ID 261 has 42 rows.
ID 262 has 42 rows.
ID 263 has 42 rows.
ID 277 has 42 rows.
ID 283 has 42 rows.
ID 291 has 41 rows.
ID 292 has 19 rows.
ID 293 has 9 rows.
ID 338 has 17 rows.
ID 345 has 42 rows.
ID 354 has 42 rows.
ID 355 has 42 rows.
ID 374 has 42 rows.
ID 396 has 39 rows.
ID 409 has 42 rows.
ID 429 has 42 rows.
ID 435 has 38 rows.
ID 436 has 30 rows.
ID 437 has 25 rows.
ID 438 has 21 rows.
ID 439 has 40 rows.
ID 440 has 42 rows.
ID 449 has 40 rows.
ID 456 has 42 rows.
ID 458 has 14 rows.
ID 500 has 26 rows.
ID 502 has 20 rows.
ID 542 has 42 rows.
ID 543 has 42 rows.
ID 544 has 42 rows.
ID 545 has 42 rows.
ID 546 has 42 rows.
ID 547 has 42 rows.
ID 548 has 42 rows.
ID 602 has 42 rows.
ID 604 has 40 rows.
ID 606 has 33 rows.
ID 608 has 41 rows.
ID 610 has 23 rows.
ID 612 has 41 rows.
ID 614 has 39 rows.
ID 616 has 40 rows.
ID 618 has 26 rows.
ID 620 has 42 rows.
ID 622 has 37 rows.
ID 624 has 26 rows.
ID 626 has 39 rows.
ID 628 has 42 rows.
ID 630 has 28 rows.
ID 632 has 42 rows.
ID 634 has 41 rows.
ID 636 has 40 rows.
ID 638 has 26 rows.
ID 686 has 42 rows.
ID 687 has 42 rows.
ID 899 has 42 rows.
ID 1010 has 42 rows.
ID 2972 has 42 rows.
ID 2975 has 42 rows.
ID 2978 has 42 rows.
ID 2987 has 42 rows.
ID 2990 has 42 rows.
ID 2993 has 42 rows.
ID 3008 has 42 rows.
ID 3011 has 38 rows.
ID 3029 has 40 rows.
ID 3039 has 42 rows.
ID 3053 has 42 rows.
ID 3059 has 42 rows.
ID 3065 has 38 rows.
ID 3081 has 42 rows.
ID 3082 has 42 rows.
ID 3086 has 42 rows.
ID 3119 has 18 rows.
ID 3131 has 42 rows.
ID 3134 has 42 rows.
ID 3137 has 20 rows.
ID 3140 has 42 rows.
ID 3188 has 42 rows.
ID 3198 has 42 rows.
ID 3202 has 42 rows.
ID 3227 has 42 rows.
ID 3260 has 42 rows.
Done.

### Now that a new dictionary of dataframes (based on bundle IDs) are created, let's take a look at some of the info

In [5]:
# Show the all the bundle IDs 
print(dict_of_bundleID_dataframes.keys())
print('Above are the bundle IDs present in this dataset.')

dict_keys([1, 27, 50, 61, 64, 78, 80, 82, 92, 93, 94, 95, 99, 104, 113, 115, 119, 122, 125, 126, 127, 128, 129, 130, 131, 140, 141, 142, 145, 146, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 173, 174, 175, 176, 182, 198, 199, 201, 202, 203, 204, 206, 207, 208, 209, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 231, 232, 236, 237, 238, 239, 240, 241, 242, 243, 245, 246, 248, 250, 255, 257, 258, 261, 262, 263, 277, 283, 291, 292, 293, 338, 345, 354, 355, 374, 396, 409, 429, 435, 436, 437, 438, 439, 440, 449, 456, 458, 500, 502, 542, 543, 544, 545, 546, 547, 548, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 686, 687, 899, 1010, 2972, 2975, 2978, 2987, 2990, 2993, 3008, 3011, 3029, 3039, 3053, 3059, 3065, 3081, 3082, 3086, 3119, 3131, 3134, 3137, 3140, 3188, 3198, 3202, 3227, 3260])
Above are the bundle IDs present in this dataset.

### Save the dictionary into a pickle file
#### The output pickle file is to be used in the Dash script for data visualization.

In [6]:
import pickle
#ip105_i.dta
pickling_on = open("oip105_p_processed.pickle","wb")
pickle.dump(dict_of_bundleID_dataframes,pickling_on)
pickling_on.close()

pickle_off = open("oip105_p_processed.pickle","rb")
dicttt = pickle.load(pickle_off)
pickle_off.close()

dicttt is the new loaded dictionary with the nested dataframes (pickle off from file)

In [7]:
'''
filtered_data=dicttt[27][dicttt[1]['sex']=='1']


sorted_filtered_data = [(aaa,vvv) for aaa,vvv in zip(filtered_data['age_group'],filtered_data['indicator'])]
sorted_filtered_data
'''

"\nfiltered_data=dicttt[27][dicttt[1]['sex']=='1']\n\n\nsorted_filtered_data = [(aaa,vvv) for aaa,vvv in zip(filtered_data['age_group'],filtered_data['indicator'])]\nsorted_filtered_data\n"

#### This script ends here...
###### Below are some test code I tried for this script. Some may be useful in the future to get something to work quick.

In [8]:
#dicttt[27][dicttt[27]['age_group']=='000']
#dicttt[27].loc[(df_sorted["sex"] == s) & (df_sorted["age_ihmec"]==age)]
dicttt[27].loc[(dicttt[27]['age_group']=='000')]
#df_sorted.loc[(df_sorted["bundle_id"]==ID) & (df_sorted["sex"] == s) & (df_sorted["age_ihmec"]==age)]

Empty DataFrame
Columns: [bundle_id, sex, age_group, measurement, enrol, indicator]
Index: []

In [9]:
aa=['1','2','3','4','5']

df3=dicttt[1].loc[dicttt[1]['sex']=='1']

#df3['age_group'][0] == '000'
df3.head()

ddd=[[99,'3','9999',10,20,30],[99,'3','9999',10,20,30]]
df4=pd.DataFrame(data=ddd,
                 columns=['bundle_id', 'sex', 'age_group', 'measurement', 'enrol','indicator'])
df3.append(df4,ignore_index=True)

df4['indicator']

0    30
1    30
Name: indicator, dtype: int64

In [10]:
a=pd.DataFrame(columns=['bundle_id', 'sex', 'age_group', 'measurement', 'enrol','indicator'])
b=a.append({'bundle_id': 3,'sex':1,'age_group':'044','measurement':100,'enrol':5000,'indicator':100/5000}, ignore_index=True)

c=b.append({'bundle_id': 4,'sex':2,'age_group':'024','measurement':90,'enrol':4000,'indicator':90/4000}, ignore_index=True)
c

  bundle_id sex age_group measurement enrol  indicator
0         3   1       044         100  5000     0.0200
1         4   2       024          90  4000     0.0225

In [11]:
#c[c['bundle_id']==3]
d=c.loc[(c["bundle_id"]==3) & (c["sex"] == 1) & (c["age_group"]=='044')]
d

  bundle_id sex age_group measurement enrol  indicator
0         3   1       044         100  5000       0.02

In [12]:
rows=[]
for i in [1,2,3]:
    temp=[i,i**2,i**3]
    rows.append(temp)
    
print(rows)

[[1, 1, 1], [2, 4, 8], [3, 9, 27]]

In [13]:
filenames=['5','6','7','8','9']

for i,filename in zip(range(len(filenames)),filenames):
    
    print(filename)
    print(i)

5
0
6
1
7
2
8
3
9
4

In [14]:
file_names = ['ip105_i_processed.pickle',
			  'ip105_p_processed.pickle',
			  'oip105_i_processed.pickle',
			  'oip105_p_processed.pickle']

all_data = {}
temp_bundle_ids=[]
for i,filename in zip(range(len(file_names)),file_names):

    pickling_off = open(filename,'rb')

    temp_file = pickle.load(pickling_off)

    temp_bundle_ids.append(list(temp_file.keys()))
    all_data[i] = temp_file # put into a big dictionary

    pickling_off.close()
    
print(temp_bundle_ids)

[[3, 14, 17, 18, 19, 25, 26, 28, 44, 45, 46, 47, 49, 60, 74, 75, 76, 77, 79, 96, 97, 98, 114, 116, 118, 121, 138, 139, 143, 144, 181, 195, 196, 233, 234, 235, 244, 271, 278, 294, 327, 333, 334, 336, 366, 367, 370, 422, 423, 453, 454, 455, 484, 541, 646, 661, 662, 663, 664, 667, 695, 696, 833, 1013, 2996, 3020, 3023, 3044, 3074, 3196, 3197, 3200, 3201, 3263], [1, 27, 50, 64, 78, 80, 82, 92, 93, 94, 95, 99, 104, 113, 115, 119, 122, 125, 126, 127, 128, 129, 130, 131, 140, 141, 142, 145, 146, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 173, 174, 175, 176, 182, 198, 199, 201, 202, 203, 204, 206, 207, 209, 212, 213, 214, 215, 216, 217, 218, 219, 220, 231, 232, 236, 237, 238, 239, 240, 241, 242, 243, 245, 246, 248, 250, 255, 257, 258, 261, 262, 263, 277, 283, 291, 292, 293, 338, 345, 354, 355, 374, 396, 409, 429, 435, 436, 437, 438, 439, 440, 449, 456, 458, 500, 502, 542, 543, 544, 545, 546, 547, 548, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 686, 687, 899, 1010, 2972, 2975, 2978, 2987, 2990, 2993, 3008, 3011, 3029, 3039, 3053, 3059, 3065, 3081, 3082, 3086, 3119, 3131, 3134, 3137, 3140, 3188, 3198, 3202, 3227, 3260], [3, 14, 17, 18, 19, 25, 26, 28, 44, 45, 46, 47, 49, 54, 60, 74, 75, 76, 77, 79, 96, 97, 98, 114, 116, 118, 121, 138, 139, 143, 144, 181, 195, 196, 233, 234, 235, 244, 265, 271, 278, 294, 327, 333, 334, 336, 356, 357, 358, 359, 360, 366, 367, 370, 422, 423, 453, 454, 455, 484, 541, 646, 661, 662, 663, 664, 667, 695, 696, 833, 1013, 2996, 3020, 3023, 3044, 3074, 3196, 3197, 3200, 3201, 3263], [1, 27, 50, 61, 64, 78, 80, 82, 92, 93, 94, 95, 99, 104, 113, 115, 119, 122, 125, 126, 127, 128, 129, 130, 131, 140, 141, 142, 145, 146, 147, 148, 149, 150, 151, 152, 153, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 173, 174, 175, 176, 182, 198, 199, 201, 202, 203, 204, 206, 207, 208, 209, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 231, 232, 236, 237, 238, 239, 240, 241, 242, 243, 245, 246, 248, 250, 255, 257, 258, 261, 262, 263, 277, 283, 291, 292, 293, 338, 345, 354, 355, 374, 396, 409, 429, 435, 436, 437, 438, 439, 440, 449, 456, 458, 500, 502, 542, 543, 544, 545, 546, 547, 548, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 686, 687, 899, 1010, 2972, 2975, 2978, 2987, 2990, 2993, 3008, 3011, 3029, 3039, 3053, 3059, 3065, 3081, 3082, 3086, 3119, 3131, 3134, 3137, 3140, 3188, 3198, 3202, 3227, 3260]]

In [15]:
flat_list = np.unique(np.array([item for sublist in temp_bundle_ids for item in sublist]))
len(flat_list)

257

In [16]:
gender_options = []
for g in ['Male','Female']:
    gender_options.append({'label':'{}'.format(g), 'value':g})

gender_options

[{'label': 'Male', 'value': 'Male'}, {'label': 'Female', 'value': 'Female'}]

In [17]:
list(range(len(all_data)))

[0, 1, 2, 3]

In [18]:
all_age_groups = ['000','004','009','014','019','024','029','034','039','044','049','054','059','064','069','074','079','084','089','094','095']
len(all_age_groups)

21

In [19]:
dfdf=pd.DataFrame(columns=['bundle_id', 'sex', 'age_group'],data=[[11,1,105],[12,1,102],[16,2,101]])
dfdf

dfdf=dfdf.sort_values('age_group')
dfdf

   bundle_id  sex  age_group
2         16    2        101
1         12    1        102
0         11    1        105

In [20]:
dicttt[61]
# 1, 27, 50, 61, 64, 78, 80, 82, 92

Empty DataFrame
Columns: [bundle_id, sex, age_group, measurement, enrol, indicator]
Index: []

In [21]:
pd.__version__

'0.23.4'

In [22]:
temp=df.loc[(df['sex']=='1') & (df['bundle_id']==152) & (df['age_ihmec']=='074')]
temp

       year sex age_ihmec facility    unit  measurement     enrol  indicator  bundle_id
987    2006   1       074        2  person            2  303653.0   0.000007        152
1955   2009   1       074        2  person            1  303653.0   0.000003        152
2435   2010   1       074        2  person            1  303653.0   0.000003        152
3708   2012   1       074        2  person            3  303653.0   0.000010        152
4603   2013   1       074        2  person            3  303653.0   0.000010        152
5723   2014   1       074        2  person            5  303653.0   0.000016        152
7720   2015   1       074        2  person           55  303653.0   0.000181        152
12668  2016   1       074        2  person          697  303653.0   0.002295        152

In [23]:
1182/(303653+303653)

0.0019463005470059574

In [24]:
list(temp.enrol)[0]

303653.0

In [25]:
pwd

'/Users/cl58/Google_Drive/Data_Science_and_Programming/Udemy_python_plotly_dash/NTU_project_deployment/data'